
    dashboard-banner {
  padding: 100px 0px 200px;
}

.dash-header-part {
  margin-top: -100px;
  position: relative;
  z-index: 1;
}

.dash-header-card {
  padding: 30px 30px 0px 30px;
  background: var(--white);
  border-radius: 8px;
}

.dash-header-left {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
}

.dash-header-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dash-avatar {
  margin-right: 30px;
}

.dash-avatar a {
  border-radius: 50%;
  border: 3px solid var(--primary);
}

.dash-avatar a img {
  width: 140px;
  border-radius: 50%;
  border: 3px solid var(--white);
}

.dash-intro h4 a {
  color: var(--heading);
  text-transform: capitalize;
}

.dash-intro h5 {
  font-size: 14px;
  line-height: 22px;
  color: var(--gray);
  text-transform: capitalize;
  margin-bottom: 8px;
}

.dash-meta li {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 3px;
  color:black;
}

.dash-meta li:last-child {
  margin-bottom: 0px;
}

.dash-meta li i {
  font-size: 14px;
  margin-top: 5px;
  margin-right: 10px;
  color: rgb(156, 20, 20);
}

.dash-meta li span {
  font-size: 14px;
  line-height: 22px;
}

.dash-focus {
  width: 100%;
  padding: 25px 0px;
  text-align: center;
  margin-right: 20px;
  border-radius: 8px;
  background: url("/web/images/bg/04.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.dash-focus::before {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: var(--primary);
  opacity: 0.8;
  z-index: -1;
}

.dash-focus:last-child {
  margin-right: 0px;
}

.dash-focus h2 {
  color: var(--white);
  font-family: sans-serif;
}

.dash-focus p {
  color: var(--white);
  text-transform: capitalize;
}

.dash-list::before {
  background: #df1313;
}

.dash-book::before {
  background: #00af1e;
}

.dash-rev::before {
  background: #d0a300;
}

.dash-menu-list {
  margin-top: 50px;
  margin-left:20px;
}

.dash-menu-list ul {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}


.dash-menu-list ul li {
    width: 100%;
    margin: 0 10px;
  }
  
  .dash-menu-list ul li a {
    width: 100%;
    display: block;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    padding: 12px 0px;
    color: black;
    border-bottom: 2px solid var(--white);
  }

.dash-menu-list ul li .active {
  color: #df1313;
  text-shadow: #df1313;
  border-bottom: 2px solid #df1313;
}

@media (max-width: 991px) {
  .dash-menu-list {
    overflow-x: scroll;
  }
  .dash-menu-list ul {
    width: 900px;
  }
}

@media (max-width: 575px) {

  .dash-header-card {
    padding: 20px 20px 0px 20px;
  }
  .dash-header-left {
    flex-direction: column;
    align-items: flex-start;
  }
  .dash-avatar {
    margin-right: 0px;
    margin-bottom: 5px;
  }
  .dash-intro h5 {
    margin-bottom: 12px;
  }
  .dash-meta {
    margin-bottom: 25px;
  }
  .dash-header-right {
    flex-direction: column;
  }
  .dash-focus {
    margin-bottom: 20px;
    margin-right: 0px;
  }
  .dash-focus:last-child {
    margin-bottom: 0px;
  }

}

@media (min-width: 576px) and (max-width: 767px) {
  .dash-header-right {
    margin-top: 30px;
  }
  .dash-focus h2 {
    font-size: 32px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {

  .dash-header-right {
    margin-top: 30px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .dash-avatar {
    margin-right: 25px;
  }
  .dash-avatar a img {
    width: 120px;
  }
}

